langchain
langchain-google-genai
dotenv
langchain-groq
langchain-huggingface
streamlit
langchain-ollama
langchain-community
langgraph
pypdf
beautifulsoup4
wikipedia
langchain-text-splitters
chromadb
streamlit-authenticator
psycopg2-binary
bcrypt


